@import './gerenalStyle/mixins';



:root {
  --black: #000;
  --orange: #b48647;
  --white: #fff;
  --gray-dark: #343a40;
  --dark: #252525;
  --padding: 200px 0;
  --transition: 0.5s;
}

.gallery {
  padding: 150px 0;
  text-align: center;
  
  h2{
    @include header-style;
  }

  p{
    @include paragraph-style;
  }
  
  hr{
    @include hr-style;
  }
  
  .gallery_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    margin-top: 50px;
  }

  img{
    object-fit: cover;
  }
}

.container1 {
    @include container1-style;
}


