// src/style/HeroSection.module.scss

.hero {
  position: relative;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden; /* To hide images that are out of bounds */
  font-family: "Playfair Display SC", serif;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  transition: opacity 0.5s ease-in-out; /* Match the duration in the JS timeout */
  z-index: 0; /* Ensure the old image is below the new one */
}


.visible {
  opacity: 1;
}a

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  position: relative;
  z-index: 2;
  padding: 20px;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 30px;
  max-width: 1000px;
  font-weight: 600;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.indicators {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicator {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.3s ease;
}

.active {
  background: rgba(255, 255, 255, 1);
}
