@import './gerenalStyle/mixins';

:root {
  --black: #000;
  --orange: #b48647;
  --white: #fff;
  --gray-dark: #343a40;
  --dark: #252525;
  --padding: 50px 0;
  --transition: 0.5s;
}

.info {
  padding: 100px 0;
  text-align: center;

  hr {
    @include hr-style($width: 0px);
  }
}

.info h2 {
  @include header-style;
}

.info p {
  @include paragraph-style;
}


.info p + hr {
  margin-left: auto;
}

.container1 {
 @include container1-info-section-style($width: 80%);
}
