// Import the mixin file
@import './gerenalStyle/mixins';


:root {
  --black: #000;
  --orange: #b48647;
  --white: #fff;
  --gray-dark: #343a40;
  --dark: #252525;
  --padding: 50px 0;
  --transition: 0.5s;
 
}
// Aboute

.about {
  padding: var(--padding);
  display: flex;
  align-items: center;
  
  hr {
      @include hr-style;
  }
  .about_text {
    flex: 0 0 50%;

    .text_section {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    h2 {
      @include header-style; 
      margin-left: 50px;
    }
    p {
      @include paragraph-style;
    }

    .button {
      padding: 20px 40px;
      background-color: var(--dark);
      color: var(--white);
      border: none;
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
      transition: 0.5s;
    }
  }

  .image_container {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 70px;
    width: 700px;
    background-color: #FFFDF8;
    img {
      object-fit: cover;
      width: 100%;
      height: 600px;
      object-position: top;
    }
  }

}

.container1 {
  max-width: 90%;
  margin: auto;
}
