// Import the mixin file
@import "./gerenalStyle/mixins";

:root {
  --black: #000;
  --orange: #b48647;
  --white: #fff;
  --gray-dark: #343a40;
  --dark: #252525;
  --padding: 50px 0;
  --transition: 0.5s;
}
// Aboute

.about {
  padding: var(--padding);
  display: flex;
  align-items: center;
  gap: 50px;

  hr {
    @include hr-style;
  }
  .about_text {
    flex: 0 0 50%;

    .text_section {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    h2 {
      @include header-style;
      margin-left: 50px;
    }
    p {
      @include paragraph-style;
    }

    .button {
      padding: 20px 40px;
      background-color: var(--dark);
      color: var(--white);
      border: none;
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
      transition: 0.5s;
    }
  }

  .image_container {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 70px;
    width: 700px;
    background-color: #fffdf8;
    img {
      object-fit: cover;
      width: 100%;
      height: 600px;
      object-position: top;
    }
  }
}

.container1 {
  max-width: 90%;
  margin: auto;
}

.about_me_extra_section_images {
  display: flex;
  gap: 20px;
  width: 1550px;
  justify-content: center;
  margin: auto;
  img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: bottom;
  }
}

.about_me_extra_section_content {
  margin-top: 5px;
  height: 300px;
  background-color: #fffdf8;
  width: 1550px;

  display: flex;
  .about_me_extra_section_content_text {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      @include header-style;
    }
  }

  .about_me_extra_section_content_box {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .about_me_extra_section_content_box_container {
      background-color: #f3f2ee;
      width: 80%;
      height: 500px;
      padding: 50px;
      margin-bottom: 400px;
      overflow: hidden;
      p {
        @include paragraph-style($text_size: 15px);
      }
    }
  }
}
