:root {
  --black: #000;
  --orange: #b48647;
  --white: #fff;
  --gray-dark: #343a40;
  --dark: #252525;
  --padding: 50px 0;
  --transition: 0.5s;
 
}
// Aboute

.about {
  padding: var(--padding);
  display: flex;
  align-items: center;
  background-color: #f7d9af;
  
  hr {
    width: 100px;
    height: 3px;
    border: none;
    background-color: var(--orange);
    margin: 15px 0;
  }
  .about_text {
    flex: 0 0 50%;

    .text_section {
      display: flex;
      flex-direction: column;
      gap: 50px;
      text-align: center;
    }

    h2 {
      text-transform: uppercase;
      font-size: 40px;
      color: var(--orange);
      font-weight: 600l;
      text-align: center;
      margin-left: 50px;
    }
    p {
      margin-bottom: 15px;
      font-family: 'Cormorant Garamond', serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0em;
      line-height: 2.13em;
      text-transform: none;
      color: #6B5D4F;
    }

    .button {
      padding: 20px 40px;
      background-color: var(--dark);
      color: var(--white);
      border: none;
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
      transition: 0.5s;
    }
  }

  .image_container {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 70px;
    width: 700px;
    background-color: #FFFDF8;
    img {
      object-fit: cover;
      width: 100%;
      height: 600px;
      object-position: top;
    }
  }

}

.container1 {
  max-width: 90%;
  margin: auto;
}
