/* src/style/Navigation.module.scss */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: transparent;
  padding: 0 100px;
  text-transform: uppercase;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  z-index: 999;
}

.menuItem {
  margin-right: 20px;
  margin-top: 20px;
}

.menuItem a {
  color: #b48647;
  font-family: Avenir-Roman, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-bottom: 5px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid #b48647;
  }
}

.menuItemWithDropdown a,
ul,
li {
  color: #b48647;
  font-family: Avenir-Roman, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-bottom: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

.menuItemWithDropdown {
  position: relative;
  padding: 10px;
  margin-top: 15px;
  
}

.dropdownToggle {
  cursor: pointer;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color:  #cfb38c;
  padding: 20px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  margin-left: -50px;
  text-align: center;
}

.menuItemWithDropdown:hover .dropdownMenu {
  display: block;
}

.dropdownMenu li {
  list-style: none; /* Remove list item marker */
  padding: 8px 20px;
}

.dropdownMenu li a {
  color: white;
  text-decoration: none;
}

.dropdownMenu li a:hover {
  color: #666;
}

.mobileMenuIcon {
  display: none;
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 3px;
  background-color: #b48647;
  margin: 6px 0;
  transition: transform 0.3s ease;
}

.mobileBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}

.mobileMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 85%;
  width: 85%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

.mobileMenuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobileMenu .menuItem {
  margin-bottom: 10px;
}

.mobileMenu .menuItem a {
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #b48647;
  font-family: Avenir-Roman, sans-serif;
}

.nav_logo {
  margin-bottom: 35px;
}

.mobileMenu .menuItem a:hover {
  color: #666;
}

@media (max-width: 910px) {
  .menu {
    display: none;
  }

  .open {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .mobileMenuIcon {
    display: block;
    margin-top: 20px;
  }

  .mobileBackdrop {
    display: block;
  }

  .nav_logo {
    margin-left: -150px;
    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
  }
}
